<div class="choose">
    <header class="header-bar header-bar-nav">
        <a v-link="{path:'/auth'}" style="height: 44px; line-height: 44px;"><i class="iconfont icon-fanhui header-icon"></i></a>
        <h1 class="header-title">湖州国网电力</h1>
    </header>

    <div class="container container-padder" id="container">
        <div class="cell">
            <div class="bd">

                <div class="weui_cells weui_cells_access">
                    <a class="weui_cell" href="javascript:;" v-for="l in list">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>{{l.comnm}}</p>
                        </div>
                        <div class="weui_cell_ft">
                        </div>
                    </a>


                </div>

            </div>


        </div>
    </div>

    <loading :show="loading" text="获取小区信息中"></loading>

</div>