<div class="auth">
    <header class="header-bar header-bar-nav">
        <!--<a href="#" style="height: 44px; line-height: 44px;"><i class="iconfont icon-fanhui header-icon"></i></a>-->
        <h1 class="header-title">湖州国网电力</h1>
    </header>

    <div class="container container-padder" id="container">
        <div class="cell">
            <div class="bd">
                <div class="weui_cells_title">认证</div>

                <div class="weui_cells">
                    <div class="weui_cell weui_cell_select">
                        <div class="weui_cell_bd weui_cell_primary">
                            <select class="weui_select"  v-model="comid" >
                                <option selected="" value="">请选择小区</option>
                                <option value="{{l._id}}" v-for="l in list" >{{l.comnm}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="weui_cells weui_cells_form" style="margin-top: 0px;">
                    <div class="weui_cell">
                        <div class="weui_cell_hd">
                            <i class="iconfont icon-zhuangshu weui_label"></i>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" type="number" placeholder="请输入幢数" v-model="building" >
                        </div>
                    </div>

                    <div class="weui_cell" style="padding:0 0 0 15px;">
                        <div class="weui_cell_hd">
                            <i class="iconfont icon-menpaihao weui_label"></i>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <select class="weui_select" style="padding-left: 0;" v-model="houseid" >
                                <option selected="" value="">请选择门牌号</option>
                                <option value="{{e._id}}" v-for="e in elecs" >{{e.house}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="weui_cell">
                        <div class="weui_cell_hd">
                            <i class="iconfont icon-huhao weui_label"></i>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" type="number" placeholder="电力户号" v-model="elec" readonly>
                        </div>
                    </div>

                    <div class="weui_cell">
                        <div class="weui_cell_hd">
                            <i class="iconfont icon-shouji weui_label"></i>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" type="number" placeholder="身份证" v-model="IDNo" >
                        </div>
                    </div>

                </div>

            </div>

            <div class="bd spacing">
                <a href="javascript:;" class="weui_btn weui_btn_primary" @click="onSubmit">提交</a>
            </div>

        </div>
    </div>

    <loading :show="loading" :text="load_text" ></loading>

</div>